
footer{
    background-color: $colorSecundario;
    color: $colorCuaternario;
    padding-top: 20px;
    font-size: 1.2em;
    p{
        padding-left: 30px;
    }
    ol{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: $colorCuaternario;
        &:hover{
            color: $colorCuaternario;
        }
    }
    .caja_icono{
        padding-top: 10px;
        padding-left: 20px;
        img{
            filter: invert(100);
            width: 20px;
            height: 20px;
            margin-right: 15px;
            cursor: pointer;
            transition: all 0.7s ease;
            &:hover{
                transform: scale(1.5, 1.5);
                background-color: $colorPrimario;
                box-shadow: 0 0 15px $colorPrimario;
            }
        }
    }
}
