
footer{
    background-color: $colorSecundario;
    color: $colorCuaternario;
    padding-top: 20px;
    font-size: 1.2em;
    p{
        padding-left: 30px;
    }
    ol{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: $colorCuaternario;
        &:hover{
            border-bottom: 2px solid $colorCuaternario;
            color: $colorCuaternario;
        }
    }
}
