@mixin dimensiones($X, $Y, $Z) {
    width: $X;
    height: $Y;
}

@mixin backgrounD($fondo,$boleano){
    background: $fondo;
    @extend %backgrounds;
    @if($boleano){

    }@else{
        background-attachment: fixed;
    }
}