$colorPrimario: #ff7400;
$colorSecundario: #100097 ;
$colorTerciario: #bfff71;
$colorCuaternario: #ffffff;
$colorFooter: #222222;
$fondoMain: url(../img/00.jpg);

$imagen1: url(../img/02.jpg);
$imagen2: url(../img/03.jpg);
$imagen3: url(../img/04.jpg);
$imagen4: url(../img/05.jpg);

$fondoTexto: url(../img/06.png);