$colorPrimario: #ff7400;
$colorSecundario: #010517 ;
$colorTerciario: #bfff71;
$colorCuaternario: #ffffff;
$colorFooter: #222222;
$fondoMain: url(../img/18.jpg);
$fondoSeccion: url(../img/00.jpg);

$imagen1: url(../img/02.jpg);
$imagen2: url(../img/03.jpg);
$imagen3: url(../img/04.jpg);
$imagen4: url(../img/05.jpg);
$imagen5: url(../img/10.jpg);
$imagen6: url(../img/11.jpg);

$fondoTexto: url(../img/06.png);